# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio files
.vs/
*.user
*.userosscache
*.sln.docstates

# User-specific files
config/config.json

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Visual Studio Code
.vscode/

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Project folders
scripts/

# Publishing
PUBLISHING.md
publish/
dist/

# Assets and Design Files
assets/*
!assets/icon.ico
*.psd
*.ai
*.sketch
*.fig
*.xd
*.afdesign
*.svgz
*.xcf

# Scoop
scoop/
